# AI Website Generator
HOST=127.0.0.1
PORT=8000
DEBUG=True
LOG_LEVEL=INFO
FRONTEND_DIR=frontend

# DeepSeek
DEEP_SEEK__API_KEY=your_secret_deepseek_api_key
DEEP_SEEK__BASE_URL=your_deepseek_base_url
DEEP_SEEK__MODEL=your_deepseek_model_name
DEEP_SEEK__MAX_CONNECTIONS=5
DEEP_SEEK__TIMEOUT=20

# Unsplash
UNSPLASH__API_KEY=your_secret_unsplash_api_key
UNSPLASH__MAX_CONNECTIONS=5
UNSPLASH__TIMEOUT=20

# MinIO (S3)
S3__BASE_URL=http://127.0.0.1:9000
S3__API_PORT=9000
S3__MINIO_PORT=9001
S3__ACCESS_KEY=minioadmin
S3__SECRET_KEY=your_secret_minio_password
S3__BUCKET_NAME=generated-sites
S3__MAX_CONNECTIONS=5
S3__CONNECTION_TIMEOUT=10
S3__READ_TIMEOUT=10

# Gotenberg
GOTENBERG__BASE_URL=https://demo.gotenberg.dev
GOTENBERG__SCREENSHOT_WIDTH=1280
GOTENBERG__SCREENSHOT_FORMAT=jpeg
GOTENBERG__MAX_CONNECTIONS=5
GOTENBERG__SCREENSHOT_TIMEOUT=20
GOTENBERG__ANIMATION_TIMEOUT=5
