# AI Website Generator
HOST=127.0.0.1
PORT=8000
DEBUG=True
FRONTEND_DIR=frontend

# DeepSeek
DEEP_SEEK__API_KEY=your_secret_deepseek_api_key
DEEP_SEEK__BASE_URL=your_deepseek_base_url
DEEP_SEEK__MODEL=your_deepseek_model_name
DEEP_SEEK__MAX_CONNECTIONS=5
DEEP_SEEK__TIMEOUT=20

# Unsplash
UNSPLASH__API_KEY=your_secret_unsplash_api_key
UNSPLASH__MAX_CONNECTIONS=5
UNSPLASH__TIMEOUT=20
